@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-gray-900 text-white flex items-center justify-center min-h-screen;
  background: radial-gradient(52.52% 32.71% at 50% 97.66%,
      rgba(36, 160, 181, 0.2) 0%,
      rgba(36, 160, 181, 0) 100%),
    #02191d, #0e464f; */
    background-color: #02191d;

}

@font-face {
  font-family: "JejuMyeongjo", sans-serif;
  src: url('https: //fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
}