@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: #02191d;

}

.border-box {
  box-sizing: border-box;
}

@font-face {
  font-family: "JejuMyeongjo", sans-serif;
  src: url('https: //fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
}